.head {
    min-height: calc(100vh - 100px);
}
.head__block {
    height: 100%;
    gap: 20px;
    display: flex;
}
.head__body {
    flex: 0 1 61.7%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head__back {
    position: absolute;
    left: 600px;
    top: 200px;
    box-shadow: 0px 10px 20px 4px #05060d;
    -webkit-box-shadow: 0px 10px 20px 4px #05060d;
    border-radius: 50%;
    -moz-box-shadow: 0px 10px 20px 4px #05060d;
    & img {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 1;
    }
}
.head__img {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    opacity: 0.5;
    height: 150px;
    position: relative;
    z-index: 1;
}
.head__subback {
    overflow: hidden;
    width: 150%;
    border-radius: 50%;
    height: 150%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(20px);
    box-shadow: 0px 10px 20px 4px #05060d;
    -webkit-box-shadow: 0px 10px 20px 4px #05060d;
    -moz-box-shadow: 0px 10px 20px 4px #05060d;
    background-color: #05060d;
}
.head__btns {
    display: flex;
    width: 51%;
    align-items: center;
    gap: 25px;
}
.head__animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 38.3%;
}
@media (max-width: 1600px) {
    .head__btns {
        width: 80%;
    }
}
@media (max-width: 1500px) {
    .head {
        min-height: calc(100vh - 80px);
    }
    .head__body {
        min-height: calc(100vh - 80px);
    }
}
@media (max-width: 992px) {
    .head {
        min-height: calc(100vh - 70px);
    }
    .head__block {
        flex-direction: column;
    }
    .head__body {
        min-height: auto;
        padding: 100px 0 50px 0;
        flex: 0 1 auto;
    }
    .head__animation {
        flex: 0 1 auto;
        margin-bottom: 50px;
    }
}
@media (max-width: 767px) {
    .head {
        min-height: calc(100vh - 60px);
    }
    .head__body {
        padding: 50px 0 30px 0;
    }
    .head__btns {
        display: block;
        width: 100%;
    }
}
