.headAnimation {
    height: 550px;
    background: #353941;
    border-radius: 51px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg path {
        animation-direction: alternate;
    }
    & svg {
        max-width: 78%;
        animation: rocket-move 2s ease-in-out infinite alternate;
    }
}
@keyframes rocket-move {
    to {
        transform: translateY(30px);
    }
}

@media (max-width: 1500px) {
    .headAnimation {
        height: 450px;
    }
}
@media (max-width: 1200px) {
    .headAnimation {
        height: 350px;
        border-radius: 25px;
    }
}
@media (max-width: 992px) {
    .headAnimation {
        max-width: 600px;
        margin: 0 auto;
        height: 400px;
    }
}
@media (max-width: 767px) {
    .headAnimation {
        border-radius: 15px;
        height: 300px;
    }
}
