.services {
    padding: 150px 0;
}
.servicesBlock {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.servicesButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    flex: 0 1 45%;
}
.servicesTabs {
    flex: 0 1 55%;
}
.active {
    background: #5685ff;
    color: #fff;
}
@media (max-width: 1500px) {
    .services {
        padding: 120px 0;
    }
}
@media (max-width: 1300px) {
    .servicesButtons {
        gap: 10px;
    }
}
@media (max-width: 1200px) {
    .services {
        padding: 80px 0;
    }
}
@media (max-width: 1150px) {
    .servicesBlock {
        align-items: stretch;
        flex-direction: column;
    }
    .servicesTabs {
        flex: 0 1 auto;
    }
    .servicesButtons {
        flex: 0 1 auto;
    }
}
@media (max-width: 992px) {
    .services {
        padding: 70px 0;
    }
}
@media (max-width: 767px) {
    .servicesTitle {
        margin-bottom: 10px;
    }
    .servicesBlock {
        margin-top: 25px;
    }
    .services {
        padding: 60px 0;
    }
}
